extends layout

block content
  section.aqua
    div.container.text-center
      h1 Lockit
      h3 Authentication solution for Express
      div.row
        div.col-md-4.col-md-offset-4
          pre
            code npm install lockit
  section.teal
    div.container
      div.row.text-center.margin-bottom
        div
          h4 SaaS for this Demo
      div.row.text-center
        div.col-md-4
          a(href="https://www.heroku.com/", target="_blank")
            img(src="images/heroku.png")
        div.col-md-4
          a(href="https://mongolab.com/welcome/", target="_blank")
            img(src="images/mongolab.png")
        div.col-md-4
          a(href="http://www.mailgun.com/", target="_blank")
            img(src="images/mailgun.png")
  section.olive
    div.container
      div.row.text-center.margin-bottom
        div.col-md-4
          div
            span.glyphicon.glyphicon-cog
          h4 Route Restriction
        dov.col-md-4
          div
            span.glyphicon.glyphicon-tower
          h4 Two-Factor Authentication
        dov.col-md-4
          div
            span.glyphicon.glyphicon-floppy-disk
          h4 Multiple Database Adapters
      div.row.text-center
        div.col-md-4
          div
            span.glyphicon.glyphicon-transfer
          h4 Single Page Application Ready
        div.col-md-4
          div
            span.glyphicon.glyphicon-volume-up
          h4 Event Emitter
        div.col-md-4
          div
            span.glyphicon.glyphicon-envelope
          h4 Email Address Verification
  section.green
    div.container
      div.row.text-center
        h2 Made in Germany with
          span.glyphicon.glyphicon-heart
  section.lime
    div.container
      div.row.text-center
        div.col-md-4
          iframe(src="http://ghbtns.com/github-btn.html?user=zemirco&repo=lockit&type=watch&count=true&size=large", allowtransparency="true", frameborder="0", scrolling="0", width="170", height="30")
        div.col-md-4
          iframe(src="http://ghbtns.com/github-btn.html?user=zemirco&repo=lockit&type=fork&count=true&size=large", allowtransparency="true", frameborder="0", scrolling="0", width="156", height="30")
        div.col-md-4
          iframe(src="http://ghbtns.com/github-btn.html?user=zemirco&type=follow&count=true&size=large", allowtransparency="true", frameborder="0", scrolling="0", width="224", height="30")
